# Dependencies
node_modules/
/.pnp
.pnp.js

# qoder
.qoder/

# Testing
/coverage

# Next.js
/.next/
/out/

# OpenNext build output
.open-next/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.dev.vars

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Cloudflare
cloudflare-env.d.ts
/wrangler.toml.backup